{{#section 'css'}}
    <style>
        .ellipsis {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
{{/section}}
{{#section 'header'}}
<h1>eNotify</h1>
<a href="#left-panel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false"
    class="ui-nodisc-icon"></a>
{{/section}}
{{#section "menu"}}
    <li><a href="{{domain}}/settings" data-icon="carat-r" data-iconpos="notext" data-shadow="false"
            data-iconshadow="false" class="ui-nodisc-icon" data-ajax="false">Settings</a></li>
    {{#if isSender}}
        <li><a href="{{domain}}/message/new" data-icon="carat-r" data-iconpos="notext" data-shadow="false"
                data-iconshadow="false" class="ui-nodisc-icon" data-ajax="false">Send Message</a></li>
    {{/if}}
    {{#if isAdmin}}
        <li><a href="{{domain}}/dashboard" data-icon="carat-r" data-iconpos="notext" data-shadow="false"
                data-iconshadow="false" class="ui-nodisc-icon" data-ajax="false">Edit Locations</a></li>
        <li><a href="{{domain}}/dashboard" data-icon="carat-r" data-iconpos="notext" data-shadow="false"
                data-iconshadow="false" class="ui-nodisc-icon" data-ajax="false">Edit Users</a></li>
    {{/if}}
    {{#if isAuthenticated}}
        <li><a href="{{domain}}/logout" data-icon="carat-r" data-iconpos="notext" data-shadow="false"
            data-iconshadow="false" class="ui-nodisc-icon" data-ajax="false">Sign Out</a></li>
    {{/if}}
{{/section}}
<ul data-role="listview" data-inset="false" data-filter="true">
    {{#groups}}
    <li data-role="list-divider">{{date}} <span class="ui-li-count">{{count}}</span></li>
        {{#messages}}
        <li><a href="{{domain}}/message/view?id={{id}}" data-ajax="false">
                <h2>{{user.firstname}} {{user.lastname}}</h2>
                <p class="ellipsis"><strong>Subject: {{subject}}</strong></p>
                <p class="ellipsis">{{text}}</p>
                <p class="ui-li-aside"><strong>{{formatDate createdAt "h:mm A"}}</strong></p>
            </a></li>
        {{/messages}}
    {{/groups}}
</ul>
{{#section 'footer'}}
{{!-- <div data-role="footer" data-theme="a" data-position="fixed">
    <h1>Footer</h1>
</div> --}}
{{/section}}