{{#section 'css'}}
    <style>
        .ellipsis {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
{{/section}}
{{#section 'header'}}
<h1>eNotify</h1>
<a href="#left-panel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false"
    class="ui-nodisc-icon"></a>
{{/section}}
{{#section "menu"}}
    <li><a href="/" data-icon="carat-r" data-iconpos="notext" data-shadow="false"
            data-iconshadow="false" class="ui-nodisc-icon" data-ajax="false">Home</a></li>
    <li><a href="dashboard" data-icon="carat-r" data-iconpos="notext" data-shadow="false"
            data-iconshadow="false" class="ui-nodisc-icon" data-ajax="false">Admin</a></li>
    <li><a href="dashboard" data-icon="carat-r" data-iconpos="notext" data-shadow="false"
            data-iconshadow="false" class="ui-nodisc-icon" data-ajax="false">Setup</a></li>
{{/section}}
<ul data-role="listview" data-inset="false">
    {{#groups}}
    <li data-role="list-divider">{{date}} <span class="ui-li-count">{{count}}</span></li>
        {{#messages}}
        <li><a href="/message/view?id={{id}}">
                <h2>{{user.firstname}} {{user.lastname}}</h2>
                <p class="ellipsis"><strong>Subject: {{subject}}</strong></p>
                <p class="ellipsis">{{text}}</p>
                <p class="ui-li-aside"><strong>{{formatDate createdAt "h:mm A"}}</strong></p>
            </a></li>
        {{/messages}}
    {{/groups}}
</ul>
{{#section 'footer'}}
{{!-- <div data-role="footer" data-theme="a" data-position="fixed">
    <h1>Footer</h1>
</div> --}}
{{/section}}