{{#section 'css'}}
    <style>
        #messagetext {
            overflow-y: scroll !important;
        }
    </style>
{{/section}}
{{#section 'header'}}
<h1>eNotify</h1>
<a href="#left-panel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false"
    class="ui-nodisc-icon"></a>
{{/section}}
{{#section "menu"}}
    <li><a href="/" data-icon="carat-r" data-iconpos="notext" data-shadow="false"
            data-iconshadow="false" class="ui-nodisc-icon" data-ajax="false">Home</a></li>
{{/section}}

<span class="center" style="text-align: center;">
    <h1>Set Permissions</h1>
</span>

<style>
    #messagetext {
        overflow-y: scroll !important;
    }
</style>

<div class="ui-popup-container pop in ui-popup-active" style="max-width: 1506px; top: 595.605px; left: 589px; min-width: 300px"
    tabindex="0">
    <div data-role="popup" id="popupEdit" data-overlay-theme="a" data-theme="c" style="max-width:400px; min-width:300px;"
        class="ui-corner-all ui-popup ui-body-c ui-overlay-shadow" aria-disabled="false" data-disabled="false"
        data-shadow="true" data-corners="true" data-transition="none" data-position-to="origin">
        <div data-role="header" data-theme="b" class="ui-corner-top ui-header ui-bar-a" role="banner">
            <h1 class="ui-title" role="heading" aria-level="1">Set Permissions</h1>
        </div>
        <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content ui-body-d" role="main">
            <label for="sender" class="ui-input-text">
            <input type="checkbox" name="sender" id="sender" class="ui-body-a ui-corner-all ui-shadow-inset"  data-theme="a">Sender</label>
            <label for="sender" class="ui-input-text">
            <input type="checkbox" name="admin" id="admin" class="ui-body-a ui-corner-all ui-shadow-inset"  data-theme="a">Administrator</label>
            <a href="#" id="" data-role="button" data-inline="true" data-rel="back" data-theme="c" data-corners="true"
                data-shadow="true" data-iconshadow="true" data-wrapperels="span"
                class="ui-btn ui-btn-up-c ui-shadow ui-btn-corner-all ui-btn-inline"><span
                    class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Cancel</span></span></a>
            <a href="#" id="btnSave" data-role="button" data-inline="true" data-rel="back" data-transition="flow"
                data-theme="b" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span"
                class="ui-btn ui-btn-up-b ui-shadow ui-btn-corner-all ui-btn-inline"><span
                    class="ui-btn-inner ui-btn-corner-all"><span
                        class="ui-btn-text">&nbsp;Save&nbsp;</span></span></a>
        </div>
    </div>
</div>

<form id="users" name="users" method="post" action="users">
        <div data-role="content">
            <ul id="lstLocations" data-role="listview">
                {{#users}}
                    <li><a class="item" id="{{id}}" href="#popupEdit" data-permission="{{permissions}}" data-rel="popup" data-position-to="window"><h3>{{firstname}} {{lastname}} ({{email}})</h3></a></li>
                {{/users}}
            </ul>
         </div>
</form>
{{#section 'footer'}}
<script src="permissions.js"></script>
{{/section}}